*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*.container{
    height: 100vh;
    width: 100vw;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(240,240,255,1) 100%);
    display: flex;
    justify-content: center;
}
.card{
    height: 350px;
    width: 200px;
    background-color: azure;
    margin-top: 10%;
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
    padding: 10px;
    
   

border-radius: 2%;
}
img{
    height: 180px;
    width: 180px;
    border-radius: 2%;
}*/
.box{
    height: 100vh;
    width: 100vw;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(240,240,255,1) 100%);
    display: flex;
    justify-content: center;
}
.card{
    height: 400px;
    width: 250px;
    background-color: azure;
    margin-top: 5%;
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 7px;
   
    
   

border-radius: 2%;
}
img{
    height: 170px;
    width: 250px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;

}
p{
    font-size: 0.7rem;
    padding: 15px;
    text-align: center;
}
#ammountBox{
    width: 80%;
    height: 10%;
    background-color: rgb(147, 147, 210);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}
#leftBox{
   /*width: fit-content;*/
   height: 100%;
   display: flex;
   gap: 15px;
   align-items: center;

}

#paymentButton{
    width: 200px;
    height: 30px;
    background-color: rgb(2, 2, 57);
    border-radius: 2%;
    color: aliceblue;
    box-shadow: 0 10px 20px rgb(0, 11, 42),0 6px 6px rgba(0,0,0.23);
}
.cancelBox a{
    text-decoration: none;
    color:rgb(3, 3, 66) ;
}
